.container {


   min-height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
    
}
.loginSection{
 
   padding: 30px;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    

}
.loginForm {
    display: flex;
    flex-direction: column;
   padding: 10px 70px 0px;
    gap: 25px 0;
}
.formInput{
   
  
}
.loginForm input {
    padding: 6px;
    /* border: none; */
    outline: none;
     border-bottom: 1px solid #79b158;
    
   
}
.loginForm h3 {
   font-size: 30px;
    
   
}
.loginForm p{

    font-size: 14px;
}
button{
    border: 1px solid #79b158;
    background-color: #79b158;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.loginText{

    font-size: 15px;
    padding-top: 3px;
}